<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Image Url:</strong>
  <br>
  <%=image_tag @recipe.image_url,:width =>'300' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= simple_format(@recipe.ingredients) %>
</p>

<p>
  <strong>Directions:</strong>
  <%= simple_format(@recipe.directions) %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @recipe.category.title ,category_recipe_path(@recipe.category_id) unless @recipe.category.nil? %>
</p>

<p>
  <strong>State:</strong>
  <%= link_to@recipe.state.title ,state_recipe_path(@recipe.state_id) unless @recipe.state.nil? %>
</p>

<p>
  <strong>Published at</strong>
  <%= distance_of_time_in_words_to_now(@recipe.created_at) %> ago
  <%= @recipe.published %>
  <br>
  <strong>Created at</strong>
  <%=@recipe.created_at.strftime("%d %b %Y")%>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
