<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Image Url:</strong>
  <br>
  <%=image_tag @recipe.image_url,:size =>'120x120' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @recipe.state_id %>
</p>

<p>
  <strong>Published:</strong>
  <%= @recipe.published %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
